In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from xgboost import XGBRegressor

In [2]:
train_data = pd.read_csv(r'C:\Users\1449415\Analytics\Projects\AV_hackathon\Data\TRAIN.csv', parse_dates=['Date'])
test_data = pd.read_csv(r'C:\Users\1449415\Analytics\Projects\AV_hackathon\Data\TEST_FINAL.csv', parse_dates=['Date'])

In [3]:
train_data.head()#2018-01-01,2019-05-31

         ID  Store_id Store_Type Location_Type Region_Code       Date  Holiday Discount  #Order     Sales
0  T1000001         1         S1            L3          R1 2018-01-01        1      Yes       9   7011.84
1  T1000002       253         S4            L2          R1 2018-01-01        1      Yes      60  51789.12
2  T1000003       252         S3            L2          R1 2018-01-01        1      Yes      42  36868.20
3  T1000004       251         S2            L3          R1 2018-01-01        1      Yes      23  19715.16
4  T1000005       250         S2            L3          R4 2018-01-01        1      Yes      62  45614.52

In [4]:
test_data.head()#2019-06-01,2019-07-31

         ID  Store_id Store_Type Location_Type Region_Code       Date  Holiday Discount
0  T1188341       171         S4            L2          R3 2019-06-01        0       No
1  T1188342       172         S1            L1          R1 2019-06-01        0       No
2  T1188343       173         S4            L2          R1 2019-06-01        0       No
3  T1188344       174         S1            L1          R4 2019-06-01        0       No
4  T1188345       170         S1            L1          R2 2019-06-01        0       No

### Max and Min Dates

In [28]:
train_data['Date'].min(),train_data['Date'].max() # roughly 1.5 year data(daily data)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2019-05-31 00:00:00'))

In [29]:
test_data['Date'].min(),test_data['Date'].max() # to predict 2 months data(daily data)

(Timestamp('2019-06-01 00:00:00'), Timestamp('2019-07-31 00:00:00'))

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             188340 non-null  object
 1   Store_id       188340 non-null  int64
 2   Store_Type     188340 non-null  object
 3   Location_Type  188340 non-null  object
 4   Region_Code    188340 non-null  object
 5   Date           188340 non-null  datetime64[ns]
 6   Holiday        188340 non-null  int64
 7   Discount       188340 non-null  object
 8   #Order         188340 non-null  int64
 9   Sales          188340 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 14.4+ MB

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22265 entries, 0 to 22264
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             22265 non-null  object
 1   Store_id       22265 non-null  int64
 2   Store_Type     22265 non-null  object
 3   Location_Type  22265 non-null  object
 4   Region_Code    22265 non-null  object
 5   Date           22265 non-null  datetime64[ns]
 6   Holiday        22265 non-null  int64
 7   Discount       22265 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 1.4+ MB

### Missing Values

In [8]:
train_data.isna().sum()

ID               0
Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Date             0
Holiday          0
Discount         0
#Order           0
Sales            0
dtype: int64

In [9]:
test_data.isna().sum()

ID               0
Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Date             0
Holiday          0
Discount         0
dtype: int64

#### Inference: No missing value treatment required

In [13]:
lis = ['Store_Type','Location_Type','Region_Code']
for i in lis:
    print(i)
    print(train_data[i].value_counts())

Store_Type
S1    88752
S4    45924
S2    28896
S3    24768
Name: Store_Type, dtype: int64
Location_Type
L1    85140
L2    48504
L3    29928
L5    13932
L4    10836
Name: Location_Type, dtype: int64
Region_Code
R1    63984
R2    54180
R3    44376
R4    25800
Name: Region_Code, dtype: int64

In [17]:
train_data.groupby('Store_Type')['Sales'].mean().sort_values(ascending=False)

Store_Type
S4    59945.685926
S3    47063.068209
S1    37676.511694
S2    27530.828222
Name: Sales, dtype: float64

In [20]:
train_data.groupby('Location_Type')['Sales'].mean().sort_values(ascending=False)

Location_Type
L2    59231.480373
L1    41453.597889
L3    33072.257756
L4    29067.414313
L5    25187.787261
Name: Sales, dtype: float64

In [21]:
train_data.groupby('Region_Code')['Sales'].mean().sort_values(ascending=False)

Region_Code
R1    46765.488405
R3    42144.517063
R2    40054.847344
R4    39743.434249
Name: Sales, dtype: float64

In [22]:
#Label Encoding Store columns - Train data
mapper_store_type = {'S1':3,'S2':4,'S3':2,'S4':1}
mapper_location_type = {'L1':4,'L2':5,'L3':3,'L4':2,'L5':1}
mapper_region_code = {'R1':4,'R2':2,'R3':3,'R4':1}
train_data['Store_Type'] = train_data['Store_Type'].map(mapper_store_type)
train_data['Location_Type'] = train_data['Location_Type'].map(mapper_location_type)
train_data['Region_Code'] = train_data['Region_Code'].map(mapper_region_code)

In [23]:
#Label Encoding Store columns - Test data
test_data['Store_Type'] = test_data['Store_Type'].map(mapper_store_type)
test_data['Location_Type'] = test_data['Location_Type'].map(mapper_location_type)
test_data['Region_Code'] = test_data['Region_Code'].map(mapper_region_code)

In [25]:
train_data.head()

         ID  Store_id  Store_Type  Location_Type  Region_Code       Date  Holiday Discount  #Order     Sales
0  T1000001         1           3              3            4 2018-01-01        1      Yes       9   7011.84
1  T1000002       253           1              5            4 2018-01-01        1      Yes      60  51789.12
2  T1000003       252           2              5            4 2018-01-01        1      Yes      42  36868.20
3  T1000004       251           4              3            4 2018-01-01        1      Yes      23  19715.16
4  T1000005       250           4              3            1 2018-01-01        1      Yes      62  45614.52

In [26]:
test_data.head()

         ID  Store_id  Store_Type  Location_Type  Region_Code       Date  Holiday Discount
0  T1188341       171           1              5            3 2019-06-01        0       No
1  T1188342       172           3              4            4 2019-06-01        0       No
2  T1188343       173           1              5            4 2019-06-01        0       No
3  T1188344       174           3              4            1 2019-06-01        0       No
4  T1188345       170           3              4            2 2019-06-01        0       No

### Make dates as indexes

In [31]:
train_data.set_index('Date',inplace=True)
test_data.set_index('Date',inplace=True)

In [32]:
train_data.head()

                  ID  Store_id  Store_Type  Location_Type  Region_Code  Holiday Discount  #Order     Sales
Date
2018-01-01  T1000001         1           3              3            4        1      Yes       9   7011.84
2018-01-01  T1000002       253           1              5            4        1      Yes      60  51789.12
2018-01-01  T1000003       252           2              5            4        1      Yes      42  36868.20
2018-01-01  T1000004       251           4              3            4        1      Yes      23  19715.16
2018-01-01  T1000005       250           4              3            1        1      Yes      62  45614.52

In [33]:
test_data.head()

                  ID  Store_id  Store_Type  Location_Type  Region_Code  Holiday Discount
Date
2019-06-01  T1188341       171           1              5            3        0       No
2019-06-01  T1188342       172           3              4            4        0       No
2019-06-01  T1188343       173           1              5            4        0       No
2019-06-01  T1188344       174           3              4            1        0       No
2019-06-01  T1188345       170           3              4            2        0       No

In [52]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 188340 entries, 2018-01-01 to 2019-05-31
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             188340 non-null  object
 1   Store_id       188340 non-null  int64
 2   Store_Type     188340 non-null  int64
 3   Location_Type  188340 non-null  int64
 4   Region_Code    188340 non-null  int64
 5   Holiday        188340 non-null  int64
 6   Discount       188340 non-null  object
 7   #Order         188340 non-null  int64
 8   Sales          188340 non-null  float64
dtypes: float64(1), int64(6), object(2)
memory usage: 18.4+ MB

In [67]:
## Discount is still categorical let's do One Hot Encoding for it using pandas get_dummies()
train_data=pd.get_dummies(train_data,columns=['Discount'],drop_first=True)
test_data=pd.get_dummies(test_data,columns=['Discount'],drop_first=True)

In [54]:
train_data.columns

Index(['ID', 'Store_id', 'Store_Type', 'Location_Type', 'Region_Code',
       'Holiday', '#Order', 'Sales', 'Discount_No', 'Discount_Yes'],
      dtype='object')

In [70]:
train_data.head()

                  ID  Store_id  Store_Type  Location_Type  Region_Code  Holiday  #Order     Sales  Discount_Yes
Date
2018-01-01  T1000001         1           3              3            4        1       9   7011.84             1
2018-01-01  T1000002       253           1              5            4        1      60  51789.12             1
2018-01-01  T1000003       252           2              5            4        1      42  36868.20             1
2018-01-01  T1000004       251           4              3            4        1      23  19715.16             1
2018-01-01  T1000005       250           4              3            1        1      62  45614.52             1

In [71]:
test_data.head()

                  ID  Store_id  Store_Type  Location_Type  Region_Code  Holiday  Discount_Yes
Date
2019-06-01  T1188341       171           1              5            3        0             0
2019-06-01  T1188342       172           3              4            4        0             0
2019-06-01  T1188343       173           1              5            4        0             0
2019-06-01  T1188344       174           3              4            1        0             0
2019-06-01  T1188345       170           3              4            2        0             0

In [72]:
X_train = train_data[:'2019-03-01 00:00:00'].drop(columns=['ID','#Order','Sales'])
Y_train = train_data['Sales'][:'2019-03-01 00:00:00']
X_val = train_data['2019-03-01 00:00:00':].drop(columns=['ID','#Order','Sales'])
Y_val = train_data['Sales']['2019-03-01 00:00:00':]

In [73]:
X_train.index.max(),X_train.index.min()

(Timestamp('2019-03-01 00:00:00'), Timestamp('2018-01-01 00:00:00'))

In [74]:
X_val.index.max(),X_val.index.min()

(Timestamp('2019-05-31 00:00:00'), Timestamp('2019-03-01 00:00:00'))

In [75]:
X_train.columns

Index(['Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Holiday',
       'Discount_Yes'],
      dtype='object')

### XGBoost Training

In [80]:
xgb = XGBRegressor(n_estimators = 1000, objective='reg:linear')

In [81]:
xgb.fit(X_train,Y_train,eval_set=[(X_train,Y_train),(X_val,Y_val)],early_stopping_rounds=50,verbose=True)

[22:56:46] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:33438.21094	validation_1-rmse:35685.08594
[1]	validation_0-rmse:24854.67773	validation_1-rmse:27390.40234
[2]	validation_0-rmse:19287.74023	validation_1-rmse:22036.78711
[3]	validation_0-rmse:15763.37598	validation_1-rmse:18628.84570
[4]	validation_0-rmse:13702.67481	validation_1-rmse:16610.39648
[5]	validation_0-rmse:12490.86426	validation_1-rmse:15360.26074
[6]	validation_0-rmse:11832.15137	validation_1-rmse:14641.51269
[7]	validation_0-rmse:11393.06348	validation_1-rmse:14146.65820
[8]	validation_0-rmse:11167.28516	validation_1-rmse:13884.40039
[9]	validation_0-rmse:11057.28027	validation_1-rmse:13727.93750
[10]	validation_0-rmse:10970.16504	validation_1-rmse:13598.69727
[11]	validation_0-rmse:10877.75879	validation_1-rmse:13494.68457
[12]	validation_0-rmse:10830.09863	validation_1-rmse:13428.05664
[13]	validation_0-rmse:10789.72168	validation_1-rmse:13388.90039
[14]	validation_0-rmse:10756.70996	validation_1-rmse:13352.29492
[15]	validation_0-rmse:10732.78125	validation_1-rmse:13334.45801
[16]	validation_0-rmse:10714.98242	validation_1-rmse:13318.02637
[17]	validation_0-rmse:10707.02441	validation_1-rmse:13311.25098
[18]	validation_0-rmse:10682.25684	validation_1-rmse:13288.61426
[19]	validation_0-rmse:10667.33496	validation_1-rmse:13278.96777
[20]	validation_0-rmse:10652.12695	validation_1-rmse:13265.91016
[21]	validation_0-rmse:10640.97363	validation_1-rmse:13260.26856
[22]	validation_0-rmse:10629.76465	validation_1-rmse:13252.51953
[23]	validation_0-rmse:10609.00195	validation_1-rmse:13232.25293
[24]	validation_0-rmse:10581.76856	validation_1-rmse:13203.19043
[25]	validation_0-rmse:10576.75391	validation_1-rmse:13201.93750
[26]	validation_0-rmse:10564.15137	validation_1-rmse:13192.34570
[27]	validation_0-rmse:10550.11426	validation_1-rmse:13186.13086
[28]	validation_0-rmse:10534.92871	validation_1-rmse:13177.25977
[29]	validation_0-rmse:10523.72461	validation_1-rmse:13166.60742
[30]	validation_0-rmse:10504.99121	validation_1-rmse:13148.07812
[31]	validation_0-rmse:10499.65820	validation_1-rmse:13149.72852
[32]	validation_0-rmse:10497.74805	validation_1-rmse:13148.75488
[33]	validation_0-rmse:10489.09375	validation_1-rmse:13146.22168
[34]	validation_0-rmse:10475.25781	validation_1-rmse:13132.00098
[35]	validation_0-rmse:10461.98926	validation_1-rmse:13119.13379
[36]	validation_0-rmse:10453.73731	validation_1-rmse:13112.57129
[37]	validation_0-rmse:10447.37207	validation_1-rmse:13108.93945
[38]	validation_0-rmse:10442.33594	validation_1-rmse:13105.50293
[39]	validation_0-rmse:10435.98242	validation_1-rmse:13099.21582
[40]	validation_0-rmse:10431.82910	validation_1-rmse:13098.68652
[41]	validation_0-rmse:10429.04981	validation_1-rmse:13099.71973
[42]	validation_0-rmse:10424.57324	validation_1-rmse:13097.06152
[43]	validation_0-rmse:10419.41309	validation_1-rmse:13096.00586
[44]	validation_0-rmse:10416.13574	validation_1-rmse:13096.92383
[45]	validation_0-rmse:10411.39941	validation_1-rmse:13093.07519
[46]	validation_0-rmse:10402.75098	validation_1-rmse:13082.78516
[47]	validation_0-rmse:10401.82519	validation_1-rmse:13082.87598
[48]	validation_0-rmse:10397.25586	validation_1-rmse:13077.76953
[49]	validation_0-rmse:10392.74512	validation_1-rmse:13075.77148
[50]	validation_0-rmse:10390.03418	validation_1-rmse:13072.80176
[51]	validation_0-rmse:10388.89746	validation_1-rmse:13072.41894
[52]	validation_0-rmse:10388.23731	validation_1-rmse:13072.53320
[53]	validation_0-rmse:10385.39941	validation_1-rmse:13071.06836
[54]	validation_0-rmse:10384.87695	validation_1-rmse:13071.89258
[55]	validation_0-rmse:10384.21582	validation_1-rmse:13071.75391
[56]	validation_0-rmse:10383.54785	validation_1-rmse:13072.83691
[57]	validation_0-rmse:10380.94141	validation_1-rmse:13071.50781
[58]	validation_0-rmse:10379.38574	validation_1-rmse:13070.62402
[59]	validation_0-rmse:10371.77441	validation_1-rmse:13062.41406
[60]	validation_0-rmse:10369.15430	validation_1-rmse:13061.20215
[61]	validation_0-rmse:10366.49805	validation_1-rmse:13057.80957
[62]	validation_0-rmse:10364.92188	validation_1-rmse:13057.27148
[63]	validation_0-rmse:10363.52148	validation_1-rmse:13055.90723
[64]	validation_0-rmse:10359.94141	validation_1-rmse:13052.04883
[65]	validation_0-rmse:10359.00391	validation_1-rmse:13051.35254
[66]	validation_0-rmse:10357.70703	validation_1-rmse:13050.32031
[67]	validation_0-rmse:10353.56836	validation_1-rmse:13045.15918
[68]	validation_0-rmse:10352.52441	validation_1-rmse:13044.81445
[69]	validation_0-rmse:10347.91406	validation_1-rmse:13039.30762
[70]	validation_0-rmse:10347.10156	validation_1-rmse:13039.01660
[71]	validation_0-rmse:10345.07324	validation_1-rmse:13038.62012
[72]	validation_0-rmse:10343.43262	validation_1-rmse:13036.83301
[73]	validation_0-rmse:10343.24512	validation_1-rmse:13036.93652
[74]	validation_0-rmse:10342.98926	validation_1-rmse:13037.27930
[75]	validation_0-rmse:10341.89844	validation_1-rmse:13036.78711
[76]	validation_0-rmse:10340.08887	validation_1-rmse:13035.91309
[77]	validation_0-rmse:10339.62207	validation_1-rmse:13036.16894
[78]	validation_0-rmse:10338.83594	validation_1-rmse:13035.89062
[79]	validation_0-rmse:10336.17090	validation_1-rmse:13035.01074
[80]	validation_0-rmse:10335.37012	validation_1-rmse:13034.37500
[81]	validation_0-rmse:10334.37402	validation_1-rmse:13033.82324
[82]	validation_0-rmse:10333.02344	validation_1-rmse:13033.20410
[83]	validation_0-rmse:10331.80176	validation_1-rmse:13033.45312
[84]	validation_0-rmse:10330.20508	validation_1-rmse:13032.81738
[85]	validation_0-rmse:10328.89648	validation_1-rmse:13032.24902
[86]	validation_0-rmse:10327.75977	validation_1-rmse:13032.02441
[87]	validation_0-rmse:10326.74121	validation_1-rmse:13031.44727
[88]	validation_0-rmse:10325.49902	validation_1-rmse:13031.19434
[89]	validation_0-rmse:10325.14453	validation_1-rmse:13030.90430
[90]	validation_0-rmse:10324.06152	validation_1-rmse:13030.41894
[91]	validation_0-rmse:10323.61621	validation_1-rmse:13030.48828
[92]	validation_0-rmse:10322.69336	validation_1-rmse:13029.92188
[93]	validation_0-rmse:10321.62500	validation_1-rmse:13029.88769
[94]	validation_0-rmse:10320.93066	validation_1-rmse:13030.43750
[95]	validation_0-rmse:10320.15430	validation_1-rmse:13030.21191
[96]	validation_0-rmse:10319.51856	validation_1-rmse:13030.10644
[97]	validation_0-rmse:10318.62598	validation_1-rmse:13030.46094
[98]	validation_0-rmse:10317.19336	validation_1-rmse:13029.68945
[99]	validation_0-rmse:10316.63574	validation_1-rmse:13029.04883
[100]	validation_0-rmse:10316.39160	validation_1-rmse:13029.27246
[101]	validation_0-rmse:10316.12207	validation_1-rmse:13028.99219
[102]	validation_0-rmse:10315.97852	validation_1-rmse:13029.16016
[103]	validation_0-rmse:10315.41113	validation_1-rmse:13029.02441
[104]	validation_0-rmse:10315.13477	validation_1-rmse:13028.46680
[105]	validation_0-rmse:10315.04102	validation_1-rmse:13028.66797
[106]	validation_0-rmse:10314.49219	validation_1-rmse:13028.68848
[107]	validation_0-rmse:10313.51269	validation_1-rmse:13027.58398
[108]	validation_0-rmse:10312.73535	validation_1-rmse:13027.04981
[109]	validation_0-rmse:10312.04688	validation_1-rmse:13026.97070
[110]	validation_0-rmse:10311.45117	validation_1-rmse:13026.73731
[111]	validation_0-rmse:10311.16016	validation_1-rmse:13026.72266
[112]	validation_0-rmse:10310.82422	validation_1-rmse:13026.82129
[113]	validation_0-rmse:10310.11035	validation_1-rmse:13026.76953
[114]	validation_0-rmse:10309.34277	validation_1-rmse:13025.87598
[115]	validation_0-rmse:10309.24805	validation_1-rmse:13026.15332
[116]	validation_0-rmse:10308.95215	validation_1-rmse:13026.28516
[117]	validation_0-rmse:10308.38477	validation_1-rmse:13025.24805
[118]	validation_0-rmse:10308.08496	validation_1-rmse:13025.11231
[119]	validation_0-rmse:10307.30664	validation_1-rmse:13024.56738
[120]	validation_0-rmse:10307.05566	validation_1-rmse:13024.55566
[121]	validation_0-rmse:10306.80957	validation_1-rmse:13024.92676
[122]	validation_0-rmse:10306.59473	validation_1-rmse:13024.93945
[123]	validation_0-rmse:10305.76269	validation_1-rmse:13023.91992

[124]	validation_0-rmse:10305.62598	validation_1-rmse:13024.18652
[125]	validation_0-rmse:10305.22168	validation_1-rmse:13024.09375
[126]	validation_0-rmse:10304.99707	validation_1-rmse:13024.06250
[127]	validation_0-rmse:10304.39941	validation_1-rmse:13023.99805
[128]	validation_0-rmse:10304.31738	validation_1-rmse:13023.98926
[129]	validation_0-rmse:10304.25488	validation_1-rmse:13024.04981
[130]	validation_0-rmse:10304.15820	validation_1-rmse:13024.11231
[131]	validation_0-rmse:10303.87109	validation_1-rmse:13024.12207
[132]	validation_0-rmse:10303.71191	validation_1-rmse:13024.65820
[133]	validation_0-rmse:10303.49414	validation_1-rmse:13024.97070
[134]	validation_0-rmse:10302.97559	validation_1-rmse:13024.54492
[135]	validation_0-rmse:10302.56543	validation_1-rmse:13024.86328
[136]	validation_0-rmse:10302.28906	validation_1-rmse:13024.85742
[137]	validation_0-rmse:10302.17188	validation_1-rmse:13024.87695
[138]	validation_0-rmse:10301.96289	validation_1-rmse:13024.92383
[139]	validation_0-rmse:10301.64453	validation_1-rmse:13024.79004
[140]	validation_0-rmse:10301.33496	validation_1-rmse:13024.71094
[141]	validation_0-rmse:10301.20117	validation_1-rmse:13024.84570
[142]	validation_0-rmse:10301.15723	validation_1-rmse:13024.95117
[143]	validation_0-rmse:10300.63867	validation_1-rmse:13024.31543
[144]	validation_0-rmse:10300.41894	validation_1-rmse:13024.29004
[145]	validation_0-rmse:10300.38672	validation_1-rmse:13024.41016
[146]	validation_0-rmse:10300.13672	validation_1-rmse:13024.10156
[147]	validation_0-rmse:10299.96875	validation_1-rmse:13024.34863
[148]	validation_0-rmse:10299.42773	validation_1-rmse:13023.59277
[149]	validation_0-rmse:10299.15527	validation_1-rmse:13023.45508
[150]	validation_0-rmse:10298.97266	validation_1-rmse:13023.46777
[151]	validation_0-rmse:10298.76562	validation_1-rmse:13024.03418
[152]	validation_0-rmse:10298.75391	validation_1-rmse:13024.00098
[153]	validation_0-rmse:10298.58594	validation_1-rmse:13024.21582
[154]	validation_0-rmse:10298.51562	validation_1-rmse:13024.05957
[155]	validation_0-rmse:10298.32422	validation_1-rmse:13024.16797
[156]	validation_0-rmse:10298.22070	validation_1-rmse:13024.14844
[157]	validation_0-rmse:10298.14453	validation_1-rmse:13024.33984
[158]	validation_0-rmse:10297.72461	validation_1-rmse:13023.93750
[159]	validation_0-rmse:10297.34082	validation_1-rmse:13023.39941
[160]	validation_0-rmse:10297.09473	validation_1-rmse:13023.27148
[161]	validation_0-rmse:10297.04297	validation_1-rmse:13023.39356
[162]	validation_0-rmse:10296.90527	validation_1-rmse:13023.31543
[163]	validation_0-rmse:10296.72949	validation_1-rmse:13023.12988
[164]	validation_0-rmse:10296.47461	validation_1-rmse:13022.83301
[165]	validation_0-rmse:10296.20117	validation_1-rmse:13022.58496
[166]	validation_0-rmse:10296.10059	validation_1-rmse:13022.72559
[167]	validation_0-rmse:10295.89551	validation_1-rmse:13022.60352
[168]	validation_0-rmse:10295.80957	validation_1-rmse:13022.56348
[169]	validation_0-rmse:10295.71094	validation_1-rmse:13022.66211
[170]	validation_0-rmse:10295.57812	validation_1-rmse:13022.46387
[171]	validation_0-rmse:10295.39844	validation_1-rmse:13022.33496
[172]	validation_0-rmse:10295.37598	validation_1-rmse:13022.37109
[173]	validation_0-rmse:10295.33398	validation_1-rmse:13022.50684
[174]	validation_0-rmse:10295.31934	validation_1-rmse:13022.48828
[175]	validation_0-rmse:10295.29688	validation_1-rmse:13022.61328
[176]	validation_0-rmse:10295.22461	validation_1-rmse:13022.50781
[177]	validation_0-rmse:10295.17676	validation_1-rmse:13022.57715
[178]	validation_0-rmse:10295.10059	validation_1-rmse:13022.50879
[179]	validation_0-rmse:10294.89844	validation_1-rmse:13022.63086
[180]	validation_0-rmse:10294.69141	validation_1-rmse:13022.49512
[181]	validation_0-rmse:10294.54688	validation_1-rmse:13022.72559
[182]	validation_0-rmse:10294.41894	validation_1-rmse:13022.58789
[183]	validation_0-rmse:10294.31934	validation_1-rmse:13022.32324
[184]	validation_0-rmse:10294.17188	validation_1-rmse:13022.43359
[185]	validation_0-rmse:10294.08496	validation_1-rmse:13022.20996
[186]	validation_0-rmse:10293.96680	validation_1-rmse:13022.22852
[187]	validation_0-rmse:10293.89258	validation_1-rmse:13022.25195
[188]	validation_0-rmse:10293.87988	validation_1-rmse:13022.37012
[189]	validation_0-rmse:10293.80371	validation_1-rmse:13022.34668
[190]	validation_0-rmse:10293.79785	validation_1-rmse:13022.36328
[191]	validation_0-rmse:10293.70801	validation_1-rmse:13022.34668
[192]	validation_0-rmse:10293.57324	validation_1-rmse:13022.37598
[193]	validation_0-rmse:10293.51758	validation_1-rmse:13022.32715
[194]	validation_0-rmse:10293.42676	validation_1-rmse:13022.30469
[195]	validation_0-rmse:10293.34375	validation_1-rmse:13022.27734
[196]	validation_0-rmse:10293.18359	validation_1-rmse:13022.45508
[197]	validation_0-rmse:10293.15820	validation_1-rmse:13022.37695
[198]	validation_0-rmse:10293.04981	validation_1-rmse:13022.47363
[199]	validation_0-rmse:10292.98144	validation_1-rmse:13022.69434
[200]	validation_0-rmse:10292.92871	validation_1-rmse:13022.70117
[201]	validation_0-rmse:10292.88769	validation_1-rmse:13022.61231
[202]	validation_0-rmse:10292.87402	validation_1-rmse:13022.59473
[203]	validation_0-rmse:10292.83203	validation_1-rmse:13022.78613
[204]	validation_0-rmse:10292.77930	validation_1-rmse:13023.00098
[205]	validation_0-rmse:10292.75195	validation_1-rmse:13022.92871
[206]	validation_0-rmse:10292.73340	validation_1-rmse:13022.98047
[207]	validation_0-rmse:10292.59082	validation_1-rmse:13022.83008
[208]	validation_0-rmse:10292.51856	validation_1-rmse:13022.81641
[209]	validation_0-rmse:10292.50000	validation_1-rmse:13022.82031
[210]	validation_0-rmse:10292.45215	validation_1-rmse:13022.86426
[211]	validation_0-rmse:10292.40137	validation_1-rmse:13022.93945
[212]	validation_0-rmse:10292.35644	validation_1-rmse:13023.00098
[213]	validation_0-rmse:10292.32812	validation_1-rmse:13023.06152
[214]	validation_0-rmse:10292.31836	validation_1-rmse:13023.04981
[215]	validation_0-rmse:10292.21289	validation_1-rmse:13022.96191
[216]	validation_0-rmse:10292.15430	validation_1-rmse:13022.90527
[217]	validation_0-rmse:10292.13574	validation_1-rmse:13022.94434
[218]	validation_0-rmse:10292.11816	validation_1-rmse:13022.95312
[219]	validation_0-rmse:10292.07715	validation_1-rmse:13022.84766
[220]	validation_0-rmse:10292.02832	validation_1-rmse:13022.95898
[221]	validation_0-rmse:10292.02051	validation_1-rmse:13022.98242
[222]	validation_0-rmse:10292.00391	validation_1-rmse:13022.97363
[223]	validation_0-rmse:10291.97559	validation_1-rmse:13022.87109
[224]	validation_0-rmse:10291.96973	validation_1-rmse:13022.89941
[225]	validation_0-rmse:10291.96289	validation_1-rmse:13022.90820
[226]	validation_0-rmse:10291.94434	validation_1-rmse:13022.93457
[227]	validation_0-rmse:10291.90234	validation_1-rmse:13022.82227
[228]	validation_0-rmse:10291.89844	validation_1-rmse:13022.81934
[229]	validation_0-rmse:10291.81152	validation_1-rmse:13022.76856
[230]	validation_0-rmse:10291.78516	validation_1-rmse:13022.74707
[231]	validation_0-rmse:10291.75977	validation_1-rmse:13022.76953
[232]	validation_0-rmse:10291.73438	validation_1-rmse:13022.82324
[233]	validation_0-rmse:10291.65820	validation_1-rmse:13022.83301
[234]	validation_0-rmse:10291.59082	validation_1-rmse:13022.83691
[235]	validation_0-rmse:10291.57715	validation_1-rmse:13022.78223

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=8, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

### Prediction

In [82]:
pred_val_res = xgb.predict(X_val)
pred_val_res

array([43782.01 , 69093.82 , 50222.816, ..., 25204.87 , 40596.742,
       24856.074], dtype=float32)

In [83]:
## Evaluation using Mean Squared Log Error
mean_squared_log_error(Y_val,pred_val_res)

0.11875210935319848

In [87]:
pred_test = xgb.predict(test_data.drop(columns='ID'))

In [88]:
pred_test

array([47994.652, 36201.727, 70782.586, ..., 47936.2  , 32081.922,
       24893.174], dtype=float32)

In [92]:
test_data

                  ID  Store_id  Store_Type  Location_Type  Region_Code  Holiday  Discount_Yes
Date
2019-06-01  T1188341       171           1              5            3        0             0
2019-06-01  T1188342       172           3              4            4        0             0
2019-06-01  T1188343       173           1              5            4        0             0
2019-06-01  T1188344       174           3              4            1        0             0
2019-06-01  T1188345       170           3              4            2        0             0
...              ...       ...         ...            ...          ...      ...           ...
2019-07-31  T1210601       186           4              1            2        0             0
2019-07-31  T1210602        11           1              5            4        0             0
2019-07-31  T1210603       185           3              4            3        0             1
2019-07-31  T1210604        69           3              4            1        0             0
2019-07-31  T1210605       365           4              4            2        0             0

[22265 rows x 7 columns]

### Preparing Submissions

In [89]:
submission = pd.read_csv(r'C:\Users\1449415\Analytics\Projects\AV_hackathon\Data\Sample.csv')

In [90]:
submission.head()

         ID  Sales
0  T1188341  42275
1  T1188342  42275
2  T1188343  42275
3  T1188344  42275
4  T1188345  42275

In [93]:
submission['Sales'] = pred_test#we've predicted in the same order as required

In [94]:
submission.to_csv(r'C:\Users\1449415\Analytics\Projects\AV_hackathon\Data\xgb_submission.csv',index=False)